<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/sun_yellow.ico') }}">
</head>

<body>
    <h3>{{ title }}</h3>
    <h4>{{ country }}</h4>
    <p><img src="{{ url_for('static', filename=description_image) }}" style="width: 75px; height: 75px;">
    {% if hot %}
        <img src="{{ url_for('static', filename=hot) }}" style="width: 75px; height: 75px;">
    {% elif warm %}
        <img src="{{ url_for('static', filename=warm) }}" style="width: 75px; height: 75px;">
    {% elif cool %}
        <img src="{{ url_for('static', filename=cool) }}" style="width: 75px; height: 75px;">
    {% elif cold %}
        <img src="{{ url_for('static', filename=cold) }}" style="width: 75px; height: 75px;">
    {% endif %}
    </p>
    <p style="text-align: center;">{{ status }}, {{ temp }}&deg; F
    {% if feels_like %}
        <br>Feels like {{ feels_like }}&deg;
    {% endif %}
    </p>

    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City" />
        <button type="submit">Submit</button>
    </form>

    <p style="font-size: x-small; color: grey;">Creative Commons icons from www.freeicons.io</p>
</body>

</html>